html {
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
}

/*Font-size and font-weight for all headings and paragraphs */
h1 {
  font-size: 4rem;
  margin-top: 0;
  font-weight: 600;
}

h2 {
  font-size: 3rem;
  font-weight: 500;
}

h3 {
  font-size: 1.5rem;
  font-weight: 600;
}

h4 {
  font-size: 1.25rem;
  font-weight: 400;
}

h5 {
  font-size: 1rem;
  font-weight: 500;
}

h6 {
  font-size: 2rem;
  margin:0.75rem 0;
  font-weight: 400;
}

/*Header section */
.desktop {
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  margin: 0 1.5rem;
}

header span {
  display: inline-block;
}

header .academy {
  display: flex;
  align-items: center;
}

.academy img {
  height: 3rem;
}

header h2 {
  font-size: 2rem;
}

#dark h2 {
  color: DimGray;
}

#light h2 {
  color: darkgray;
}

nav ul li {
  display: inline-block;
  margin-left: 16px;
}

ul li a:visited {
  color: black;
  text-decoration: underline;
}

a:link {
  color: gray;
}

nav a:hover {
  color: dodgerblue;
}

.mobile {
  display: none;
}

.main_mobile {
  display: none;
}

.thesis_mobile {
  display: none;
}

/*Positioning and attributes for all containers which repeat over the webpage */
.bigcontainer {
  display: flex;
  justify-content: flex-start;
  margin: 2rem 1.5rem;
}

#information_desktop {
  margin-top: 4rem;
}

.bigcontainer img,
video {
  width: 100%;
  height: auto;
}

.leftcontainer {
  width: 60%;
  margin-right: 1.5rem;
}

.rightcontainer {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.smallcontainer {
  display: flex;
  align-items: center;
  margin: 1rem;
}

#no_margin_top {
  margin-top: 0;
}

.smallcontainer h3,
h4,
a {
  margin: 0.5rem 0;
}

.smallcontainer img {
  width: 35%;
}

.smallcontainer .text {
  width: 60%;
  margin-left: 1rem;
}

.information_mobile {
  display: none;
}

#start_mobile {
  display: none;
}

.button span {
  font-size: 1.5rem;
}
@media only screen and (max-width: 1320px) {
  h1 {
    font-size: 3.5rem;
    margin-bottom: 1rem;
  }
  .learn .button {
    margin-top: 1rem;
  }
}

@media only screen and (max-width: 1110px) {
  .desktop {
    display: none;
  }
  .mobile {
    height: 4rem;
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 0 4rem;
  }
  #information_desktop {
    display: none;
  }
}

/*Main container section */
.learn {
  margin-left: 1.5rem;
  height: 100%;
}

.learn .button {
  text-align: center;
  background-color: #696969;
  height: 4rem;
  width: 100%;
  margin: auto;
  justify-content: center;
  display: flex;
  align-items: center;
  color: white;
  font-size: 1.2rem;
  margin-top: 2.6rem;
}

#main_desktop {
  display: flex;
  align-items: center;
}

@media only screen and (max-width: 1110px) {
  #main_desktop {
    display: none;
  }
  .main_mobile {
    display: flex;
    flex-direction: column;
    padding-bottom: 2rem;
  }

  .main_mobile img {
    width: 100%;
  }

  h1 {
    font-size: 3rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
  }
  h2 {
    font-size: 2rem;
  }

  .smallcontainer {
    flex-direction: column;
    align-items: flex-start;
  }

  .smallcontainer .text {
    margin-top: 1rem;
    width: 90%;
  }

  .smallcontainer img {
    width: 100%;
  }
  .information_mobile {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .learn {
    margin: 1rem;
  }
}


.startcontainer {
  text-align: center;
  width: 100%;
}

.startcontainer h2 {
  margin-top: 4rem;
  margin-bottom: 2rem;
}

.sectioncontainer {
  margin: 2rem 4rem;
}

.sectiontext {
  margin-left: 1rem;
}

.firstrow {
  display: flex;
}

/*Courses section */
.section {
  text-align: left;
  width: 100%;
  height: auto;
}

.section img {
  width: 100%;
  height: auto;
}

.middle {
  margin: 0 2rem;
}

.secondrow {
  display: flex;
  margin: 2rem 0;
}

.thesis {
  text-align: center;
  margin: 2rem;
  padding-top: 1rem;
}

@media only screen and (max-width: 1110px) {
  #start_desktop {
    display: none;
  }
  #start_mobile {
    display: flex;
    flex-direction: column;
  }
  .starttext {
    margin-top: 4rem;
    text-align: center;
  }
  #start_mobile span {
    background-color: lightgray;
    margin: 0.5rem;
  }
  #start_mobile span:hover {
    background-color: lightblue;
    font-size: 3rem;
    font-weight: bold;
  }
  #start_mobile h3 {
    margin-left: 1rem;
  }
}

@media only screen and (max-width: 1110px) {
  .thesis_desktop {
    display: none;
  }
  .thesis_mobile {
    display: block;
    text-align: center;
    margin-bottom: 2.5rem;
  }
}

/*Footer section */
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2rem 1.5rem;
}

ul li {
  display: inline-block;
  margin-left: 1rem;
}

@media only screen and (max-width: 660px) {
  footer ul {
    display: none
  }
  footer {
    margin: 1rem;
  }
}
